log_level                :info
log_location             STDOUT
node_name                'admin'
client_key               '/etc/chef-server/admin.pem'
chef_server_url          '%(chef_server_url)s'
cache_options( :path => '/root/.chef/checksums' )
cookbook_path            [ '/opt/rpcs/chef-cookbooks/cookbooks' ]
